:root {
  --greenColor: #088b08;
  --redColor: #ff1d1d;
  --blueColor: #36abff;
  --bttnColor: #abebff;
  --blogColor: #c3fff9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin-left: 10px;
}

p {
  display: inline-block;
  margin: 5px;
}

button {
  border: none;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--bttnColor);
}

form {
  margin: 10px;
}

span {
  font-weight: 100;
  font-style: italic;
  color: #959595;
}

.userInfo {
  margin: 10px;
  margin-left: 0;
}

.blogList {
  margin: 10px 0 0 10px;
}

.addBlogForm {
  margin-left: 10px;
}

.toggleArea:hover {
  cursor: pointer;
}

.Blog {
  background-color: var(--blogColor);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.success,
.error {
  display: inline-block;
  background-color: var(--greenColor);
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
}

.error {
  background-color: var(--redColor);
}

.removeBttn:hover {
  background-color: var(--redColor);
}